.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#sidebar {
height : 100%;
width : 160px;
padding-left : 10px;
position : fixed;
z-index : 1;
}

#chart{
margin-left : 160px;
width : 960px;
}

#rightbar{
  margin-left: 960px;
  margin-top: 50px;
  position: absolute;
  background-color: aquamarine;
  padding-left: 10px;
  padding-right: 10px;
}

#grouping{
  align-items: center;
}

